<% content_for :heading do %>
  <div class="heading">
    <div class="left" style="width:90%;"><h1 class="listHeading">Editing affiliate merchant</h1></div>
  </div>
<%end%>

<%= render 'form' %>

<% content_for :actions do %>
  <div class="links">
    <%= link_to 'Show', admin_affiliate_merchant_path(@affiliate_merchant) %> |
    <%= link_to 'Back', admin_affiliate_merchants_path %>
  </div>
<%end%>

