<%= render :partial => 'shared/category_sidebar' %>

<div class="rightContent right">
  <% unless @listings.blank? %>
    <%= render :partial => 'shared/listings', :locals => { :listings =>  @listings } %>
  <%else%>
     <p> Listings are not available for category </p>
  <%end%>
</div>
<%= render :partial => 'shared/add_key_to_links' %>

