<%= render :partial => 'shared/category_sidebar' %>

<div class="rightContent right">

  <% unless @category.listings.featured.blank? %>
    <% @category.listings.featured.each do |listing| %>
       <%= raw(listing.banner) %> <br />
    <%end%>
  <%else%>
     <p> Listings are not available for category </p>
  <%end%>

  <%= render :partial => 'shared/add_key_to_links' %>


</div>

