
<p>
Amazon.com does not support affiliates to track their users’ purchases. They just provide reports that contain the transactions, but LittleSurprizes cannot differentiate the purchases from one user to another. </p>
<br />
<p>Hence, there are some manual steps involved in tracking the purchases done on Amazon.  To earn cash-back for Amazon purchases please follow the following steps:</p>
<div class="left_box">
  <div class="left step">Step-1 :</div>
  <div class=" left_detail">Click the Amazon store logo on the LittleSurprizes website.</div>

  <div class="clear"></div>

<div class="left step">Step-2 :</div>
<div class="left_detail">Shop on Amazon store.</div>

<div class="clear"></div>

<div class="left step">Step-3 :</div>
<div class="left_detail">Just before you submit your order, note down the ASIN numbers of the products in the order. ASIN number is Amazon’s unique product identification number. It is available in the product details sections of all products (See below for a sample).</div>

<div class="clear"></div>
</div>


<div class="right_box">
<div class="left step">Step-4 :</div>
<div class="left_detail">Once the order is placed, note down the order number and date of the order.</div>

<div class="clear"></div>

<div class="left step">Step-5 :</div>
<div class=" left_detail">Send an email to admin@littlesurprizes.com  with the following information:
          <br />
	Subject : Amazon Purchase<br />
	LittleSurprizes Account Number : JaneSmith@smith.com<br />
	Order Number : XXXXXXXXXX<br />
	Order Date : MM-DD-YYYY<br />
	ASIN(s) : B001LF4FR5, B231LF3FR8, D121LF3ET8</div>

<div class="clear"></div>
</div>
<div class="clear"></div>

<div class="image">
	<div style="color:#DD892D;font-weight:bold;"><center>Please click the link to proceed</center></div>
	<center><%= raw(@listing.banner)%></center>
</div>

  

