<% content_for :heading do %>
   <div class="left" style="width:99%;"><h1 class="listHeading"> New listing</h1></div>
<%end%>

<%= render 'form' %>

<div class="links">
  <%= link_to 'Back', admin_listings_path %>
</div>
