<%= form_for([:admin, @payment_request]) do |f| %>
  <% if @payment_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_request.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @payment_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

