<div class="heading">
  <div class="left" style="width:99%;"><h1 class="listHeading">Editing PaymentRequest</h1></div>
</div>

<%= render 'form' %>

<div class="links">
   <%= link_to 'Back', :back %>
</div>

