
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-style:normal
}

body{
	line-height: 1;
}

ol, ul{
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
	content: '';
	content: none;
}

:focus{
	outline: 0;
}

ins{
	text-decoration: none;
}

del{
	text-decoration: line-through;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************
	  BASIC TEXT STYLES
*******************************/

body{
	font: 13px/1.5 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	color:#222222;
}

a:focus{
	outline: 1px dotted;
}

hr{
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

ol,ul{
	list-style-type:circle;
}

ol ol,ul ul{
	font-style:italic;
}

ol{
	list-style-type:decimal;
}

ol ol{
	list-style-type:lower-latin;
}

ol,ul,blockquote,pre,li{
	margin-left: 30px;
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{
	margin-bottom: 20px;
}

blockquote{
	padding: 5px 25px 5px 0; font-style:italic;
}

blockquote p{
	border-left: 2px solid #eee; padding-left: 25px;
}

dt{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
 
dd{
	padding: 0;
}

/** Headings **/

h1{
	font-size: 25px;
}

h2{
	font-size: 23px;
}

h3{
	font-size: 21px;
}

h4{
	font-size: 19px;
}

h5{
	font-size: 17px;
}

h6{
	font-size: 15px;
}

.right{
	float:right;
}


/*******************************
		LAYOUT STYLES
*******************************/

html, body{
    margin:0;
    padding:0;
    
}

body{
	background:#e6e6e6;
}

p.notice{background-color:#D5FFCE;padding:5px 10px;border:1px solid #9ADF8F;}

.left{float:left;}
.right{float:right;}


/** HEADER **/

div#header{
	
	height:45px;
	background:#3a0801;
	color:#FFFFFF;
	overflow:hidden;
	min-width:950px;border-bottom:1px solid #874f42;
}
	
div#header h1{
	display:inline;
	float:left;
	line-height:48px;
	margin:0px 0 0 10px;
	letter-spacing:1px;
}
	
	
/** CONTAINER **/
	
div#container{ 
	clear:both;
	margin-left: 200px;
	min-width:700px;
	background:#fff;
    min-height:700px;
	height:auto !important;
    height:700px;
	
}

		
/** SIDEBAR **/

div#user_nav{ /** Jquery add's a min-height **/
	background:#c9b494;
	width:200px;
	clear:left;
	float:left;
	position:relative;
	margin: 0 0 0 -200px;
	display:inline;
	border-right:1px solid #c4c4c4;
	min-height:700px;
	height:auto !important;
    height:700px;
}


div#user_nav ul{
	margin:30px 0px 0px 0px;width:100%;
	}
		
div#user_nav ul li{
			margin:0;
			display:block;padding:8px 0 8px 15px;
			border-bottom:1px dotted #d9c6a8;
		}
		
div#user_nav ul li a{
				color:#3a0801;
				text-decoration:none;
				font-weight:bold;
				font-size:13px;		
				

			}

div#user_nav ul li a:hover{
				color:#000;
				
			}
			
div#user_nav li.current a{
				background:#ededed;
			}
			
div#user_nav li:hover{
				background-color:#c4b5a1;
			}

div#user_nav a.link{background-color:#d4c7b4;padding:10px 70px;margin:0px 10px;color:#000;}
			
	
.clear {
	clear: both;
	
}

.heading{background-color:#620500;
border-top:1px solid #8a4747;height:31px;overflow:hidden;width:99.6%; padding-right:2px;}

h1.listHeading{font-size:14px;color:#fff;background: url(/images/downarrow.gif) no-repeat left;padding:5px 22px;}

.button a{float:right;margin-top:2px;padding:3px 8px;background:#eee url(/images/createButtonBg.png) repeat-x;-moz-border-radius:4px;-webkit-border-radius:4px;
	border:1px solid #ccc;color:#000;font-size:11px;text-decoration:none;
}

#container h1 span.button:hover a{background-color:#eee;background-image:none;color:#7A0E74;
}

table.listing{width:99.7%;}


table.listing tr th{
	background:#FFFFFF url(/images/tableHeader.jpg) bottom left repeat-x;
	padding:5px 15px;
	text-align:left;
}

table.listing td,table th{
	padding: 5px 7px;
	vertical-align:middle;
	line-height:24px;
}

table.listing th,
table.listing td{
	border:1px solid #DDDDDD;
}

table.listing td{
	padding: 7px 15px;
	background-color: #FFF;
	vertical-align: top;
	line-height:20px;
	background:#FFFFFF;
}

table.listing tr td a{color:#8f1021;text-decoration:none;font-size:11px;}


table.show {position:relative;top:20px;width:90%;margin-left:20px;}

table.show tr th{
	background:#f1f1f1 url(/images/taxbleHeader.jpg) bottom left repeat-x;
	padding:5px 15px;
	text-align:left;width:125px;
}

table.show td,table.show th{
	padding: 12px;
	vertical-align:middle;
	line-height:24px;
}

table.show th,
table.show td{
	border:1px solid #DDDDDD;
}

table.show td span{margin-left:20px;color:red;font-weight:bold;}


div.field, div.actions, div.fields {padding:10px 20px;}

div.field label{color:#000; }
div.field input,select,textarea{padding:6px 10px;border:1px solid #ddd;-moz-border-radius:3px;-webkit-border-radius:3px;margin-bottom:10px;}


div.field textarea{width:255px;height:150px;}

div.field textarea.large{width:665px;height:200px;}

.actions input[type=submit]{padding:10px;}

.jHtmlArea{border:1px solid #ddd;}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select{border:1px solid red;}

.purchase_details{border:1px solid #ddd;background-color:#f2fafd;padding:10px 0px 0px 5px;width:50%;}

.fields textarea{ width:100%;}*/

div.actions input{border:2px solid #000;}

.fields textarea{width:665px;}

.links{position:relative;top:20px;margin-left:20px;}

.links a{color:#000;}

.links a:hover{text-decoration:none;}


div.pagination{
		text-align:right;font-size:18px;color:#8c1186;

	}
	
	div.pagination a{
		margin:0 1px;
		padding:0px 4px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		color:#000 !important;
		text-decoration:none;
		cursor:pointer;
		line-height:20px;
		display:inline-block;
		background-color:#e2e2e2;
		border:1px solid #eee;
		font-size:11px;
	}
	
	div.pagination span.disabled{
			color:#FFFFFF !important;
	}




