html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  table, caption{
margin : 0;
padding:0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
list-style:none;
}

:focus {
   outline : 0;
}


table {
border-collapse : separate;
border-spacing : 0;
}

caption, th, td {
text-align : left;
font-weight : normal;
}

blockquote:before, blockquote:after, q:before, q:after {
content : "";
}

blockquote, q {
quotes : "" "";
}



body{
   padding:10px 0px 0px 0px;
   font-size:13px;
   background:#80ab35 url(/images/body.jpg) repeat-x;
   font-family:Verdana, Arial, Helvetica, sans-serif;
}


.left{float:left;}
.right{float:right;}
.clear{clear:both;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;}

div.notice{
	background-color:#E0F2C0;
	padding:10px;
	margin:10px;
	border:1px solid #5A7838;
	font-size:14px;
	color:#464f53;
}

div.info{
	background-color:#FFFAC0;
	padding:10px;
	margin:10px;
	border:1px solid #866730;
	font-size:14px;
	color:#222;
}

.container{
	background:#fff url(/images/containerBg.jpg) repeat-x;
	width:950px;
	margin:0 auto;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
}

div#login_container {
   width: 400px;
   min-height:325px;
   height:auto !important;
   height:325px;
   margin:45px auto;
   border:1px solid #c4c4c4;
   color:#333;
   background-color:#fbfbfb;
   margin-bottom:10px;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
}

div#login_header{
	border-bottom:1px solid #c4c4c4;
	height:50px;
	line-height:50px;
	padding-left:45px;
	color:#79a230;
	font-size:20px;
	background: url(/images/sign_in.png) no-repeat left;
}

div#login{padding:20px 0px 20px 40px;}

div#login label{color:#000;}

div#login input{
	padding:8px 10px;
	margin-bottom:22px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width:300px;
	background:#fff url(/images/inputBg.jpg) repeat-x bottom;
}

div#login input:focus{border:1px solid #999;background-image:none;}

div#login input.btn{
	background: url(/images/buttonBg.jpg) repeat-x;
	border:1px solid #111;
	color:#fff;
	width:80px;
	padding:5px 6px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-bottom:5px;
}

div#login input.btn:focus{background-image:none;background-color:#222;}

div#login a{text-decoration:none;color:#d98000;}
div#login a:hover{text-decoration:underline;color:#000;}

div#login input.large{width:260px;}

input#user_remember_me[type=checkbox]{width:12px;border:1px solid #ddd;border:none;}

ul#social-icons li{list-style:none;}


.header{height:100px;padding:2px;}

.headertop{width:100%;height:59px;}

.logo{width:400px;}

.links{width:35%;padding-top:10px;}

.links ul li{list-style:none;display:inline;float:right;}
.links ul li a{text-decoration:none;color:#fff;margin-right:20px;}
.links ul li a:hover{text-decoration:underline;}

.tabs{
	padding: 7px 0;
	margin-left: 0;
	list-style-type: none;
	text-align: left;
	margin-top:8px;width:530px;
}

.tabs li{display: inline;margin: 0;}

.tabs li a{
	text-decoration: none;
	padding: 8px 10px;
	margin-right: 3px;
	font-weight:bold;
	border-bottom: none;
	background:url(/images/menuBg.jpg) repeat-x;
	color: #fff;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
}

.wrapper{padding:10px;min-height:600px;}

.leftContent{
     min-height:500px;
     height:auto !important;
     height:500px;
     width:200px;
     border-right:1px solid #eee;
     padding-right:10px;
}

.leftContent ul{
    margin:0px;
    padding:0px;
    list-style:none;
}

.leftContent ul li{
    padding:10px 5px;
    display:block;
    margin-left:4px;
    margin-top:5px;
    border-bottom:1px solid #ddd;
}

.leftContent ul li a{
     color:black;
     text-decoration:none;
     padding:0px 12px;
     font-size:13px;
     background:url('/images/bullet.jpg') no-repeat;
}

.leftContent ul li a:hover{text-decoration:underline;}

.rightContent {
    min-height:500px;
    height:auto !important;
    height:500px;
    width:700px;
    padding:0px 0px;
}

.bannerBox{
	width:200px;
    height:120px;
	margin:10px 4px 10px 5px;
	background:url(/images/bannerBoxBg.png) no-repeat;
	padding:10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-align:center;
}
.banner{height:100px;}
.bannerBox p{color:#EB8A00;font-size:12px;margin-top:5px;}

table.listing{width:99.7%;border-top:1px solid #DDDDDD;border-right:1px solid #DDDDDD;}


table.listing tr th{
	background:#FFFFFF url(/images/tableHeader.jpg) bottom left repeat-x;
	padding:5px 15px;
	color:#000;
}

table.listing td,table th{
	padding: 5px 7px;
	vertical-align:middle;
	line-height:24px;
}

table.listing th,
table.listing td{
	border-bottom:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
}

table.listing td{
	padding: 7px 15px;
	background-color: #FFF;
	vertical-align: top;
	line-height:20px;
	color:#333;
}
table.listing tr td a{color:#8f1021;text-decoration:none;font-size:11px;}



table.withdrawals{
	width:99%;
	border-top:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	margin-bottom:10px;
}

table.withdrawals tr th{
	color:#000;
	padding:5px 15px;
	text-align:left;
}

table.withdrawals td,table th{
	padding: 5px 7px;
	vertical-align:middle;
	line-height:24px;
}

table.withdrawals th,
table.withdrawals td{
	border-bottom:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
}

table.withdrawals td{
	padding: 7px 15px;
	color:#333;
	vertical-align: top;
	line-height:20px;
}

h2.heading{
	font-size:13px;
	color:#d98000;
	line-height:40px;
	background:url(/images/orange_arrow_icon.gif) no-repeat left;
	padding-left:20px;
	font-weight:bold;
}

h1.heading{
	font-size:15px;
	color:#79a230;
	line-height:35px;
	font-weight:bold;
	border-bottom:1px dotted #79a230;
	margin-bottom:10px;
	padding-left:30px;
}

h1.userDetail{background:url(/images/history_detail.png) no-repeat left;}
h1.editUser{background:url(/images/user_edit.png) no-repeat left;}
h1.myAccount{background:url(/images/my_account.png) no-repeat left;}


.total{color:#c43300;font-weight:bold;}

table.earnings tr th{
	width: 250px;
	margin-bottom: 25px;
	padding-top:8px;
	padding-left:0px;
	color:#000;
}
table.earnings tr th span{font-size:11px;color:#c43300;}

.details hr{border-top:1px solid #C4C2BF;border-bottom:1px solid #fff;margin:20px 0px;}
.details{margin:0 auto;background-color:#f4f4f4;width:75%;padding:20px;}

.details label{
	display: block;
    width: 225px;
    float: left;
    margin-bottom: 25px;
	padding-top:8px;
}

.details label{text-align: left;padding-right: 15px;color:#000;}
.details input,select{
	padding:8px 3px;
	background:#fff url(/images/inputBg.jpg) repeat-x bottom;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width: 225px;
}

.details input:focus{background-image:none;border:1px solid #999;}

.details legend{color:#b3201b;font-size:15px;}

.button{text-align:center;}

.details input.button{padding:5px 15px;background: url(/images/buttonBg.jpg) repeat-x;
	border:1px solid #111;width:100px;color:#fff;}


.details input.button:focus{background-image:none;background-color:#222;}

.errorExplanation{color:red;font-size:15px;margin:10px;}

.footer{width:100%;height:50px;background-color:#1f211d;border-top:1px solid #a5d84b;}

