<% listings.featured.in_groups_of(3) do |group| %>
  <% group.each do |listing| %>
    <% unless listing.blank? %>
      <div class='left'>
        <%= raw(listing.banner) %>  <br />
        <%= listing.notes %>
      </div>
    <%end%>
  <%end%>
  <div class='clear'> </div>
<%end%>

