<% listings.featured.in_groups_of(3) do |group| %>
  <% group.each do |listing| %>
    <% unless listing.blank? %>
      <div class='bannerBox left'>
        <div class="banner"><%if listing.category.name == "Amazon" %>
                        <%=link_to image_tag('/images/amazon.gif'),category_listing_path(listing.category_id,listing.id) %>
                            <%else%>
                              <%=raw(listing.banner)%>
                            <%end%></div>
         <%=listing.notes %>
      </div>
    <%end%>
  <%end%>
  <div class='clear'> </div>
<%end%>
<script type ='text/javascript'>
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox()
  })
</script>
