<div class="left_container left">
      <h2>Welcome to LittleSurprizes.com</h2>
      <p>Little surprises is a website that allows shoppers like you to save a little more by giving cash back for the purchases you make by clicking through the links and banners on this site. LittleSurprizes started as a close friends and family network but has spread, via word of mouth, into a huge network of shoppers using the website to earn cash backs. </p>

<p>Advertisers pay us some commission for bring shoppers to their websites and we give most of that commission back to you! Wouldn’t it be nice to see some cash in your account after spending all that money in shopping? 
All you need to do is click your favorite store banners on the LittleSurprizes website and then go about doing your shopping as usual.  Your cash back earnings will be tracked and you can request a payment when a minimum balance is reached. It’s that simple! Obviously, the more you shop, the more you earn as cash back.</p>

<p>Shopping at LittleSurprizes is safe. We do not give your email or other information to anybody. We do not send any annoying newsletters, deals etc. We just want to provide a safe and hassle free website to save more while shopping. We hope you will enjoy the experience of shopping at LittleSurprizes!</p>

    <h3>Why Sign-Up?</h3>
      <p>LittleSurprizes gives you cash back on the purchases you normally do. You just have to click your favorite sites from our site and you will be on your way to earn cash backs!</p>

    </div>
    <div class="box right">
      <h2>Reviews</h2>
      <div class="reviewBox">
       <p>"I bought a camera lens recently and used this site for shopping. I got a pleasant surprise when I got $24 back! And I had to do really nothing to get it. What a great site!"</p>
       <p class="name">Virgil. T, Santa Clara, CA</p>
     </div>
     <div class="reviewBox">
       <p>"I use this site to make my regular monthly shopping. It is great to receive a chunk of money at the end of the month!"</p>
       <p class="name">Swathi. P, Plano, TX</p>
     </div>
     <div class="reviewBox">
       <p>"What I like about this site is that they don’t bother me with email ads. At the same time, I get to save money while shopping"</p>
       <p class="name">Bobby. S, Union City, CA </p>
     </div>
    </div>
