<h1 class="heading faq">FAQ</h1>

<div class="faqBox">
 <h3>How does LittleSurprizes work?</h3>
 <p>LittleSurprizes is an affiliate marketing website that provides cash back to its users for the purchases made by clicking the links from our website. You create an account with just an email address and password. You can then simply click the banners/logos on the LittleSurprizes website and do your shopping. The advertisers pay us some commission for bringing shoppers like you to  their websites. We pass on most of that commission to you as cash-back. </p>
</div>

<div class="faqBox">
 <h3>How do I know if I earned any cash-back?</h3>
 <p>If you purchase a product by clicking the links on LittleSurprizes website, you will be, in most cases, eligible for a cash-back. The amount of cash-back depends on the company and the product you purchase. You can go to “My Earnings” tab on the website to view your earnings. Every company has its own policy for paying commissions to the affiliates (LittleSurprizes).  It takes usually 1-7 days for the earnings to show up on your account. However, earnings are in a pending state for a period of 30-60 days after which you can request a payment withdraw.</p>
</div>

<div class="faqBox">
 <h3>Does LittleSurprizes get a commission for my purchase?</h3>
 <p>Yes. Advertisers pay us commission on the purchase you make. We give back most of that commission back to you as cash-back. We usually keep about 1/3rd of the commission received and pass on 2/3rd of it to you.</p>
</div>

<div class="faqBox">
 <h3>Why do my orders show pending status?</h3>
 <p>You can see your purchases and earnings within 1-7 days of your purchase. However, advertisers take anywhere between 30-90 days to pay the commissions to LittleSurprizes. We can pay you only when we get paid. So, the orders are in a pending status for 60-days. After 60-days, you can request for a payment.</p>
</div>

<div class="faqBox">
 <h3>When I can get money in my account?</h3>
 <p>After a purchase is made, the order is in a pending state for 60days. After 60 days, you can request for a payment via paypal. Your payment will be processed in 1-2 business days.</p>
</div>

<div class="faqBox">
 <h3>Does LittleSurprizes charge any fees for payments?</h3>
 <p>Yes. We charge a small fee to recover the cost of the payment transaction. The exact amount depends on the payment amount.</p>
</div>

<div class="faqBox">
 <h3>What are the system requirements to use the website?</h3>
 <p>You can use most web-browsers to use LittleSurprizes website. The supported browsers include Internet Explorer, Mozilla Firefox, Google Chrome & Safari. Please enable cookies on your web browsers in order to keep track of your earnings. If cookies are not enabled, we may not be able to track your purchases and you may end up not getting any cash-back.</p>
</div>

<div class="faqBox">
 <h3>How can I enable cookies on my browser?</h3>
 <p>The procedure depends on which browser you are using. This is usually a very simple task. You can do a quick Google search on “How to enable cookies in XXXXXX browser” and you are sure to find the steps to do it.</p>
</div>
