
<div class="category left">
<ul><% Category.all.each do |category| %>
  <li> <%= link_to category.name, '#' %> </li>
<%end%>
</ul>
</div>
<div class="list">
  

    <% Listing.featured.each do |listing| %>
      <%= raw(listing.banner) %> <br />
    <%end%>

  <% if current_user %>
    <% content_for :extra_javascripts do %>
      <script type="text/javascript">
        $(function()
          {
             $("#listings > a").each(function ()
             {
                var href = $(this).attr('href');
                $(this).attr('href', href + "&key=<%=current_user.key%>");
             });

          });
      </script>
    <%end%>
  <%end%>


</div>
