<h1 class="heading faq">How to earn cash-back for Amazon purchases?</h1>
<div class="faqBox">
<p>
Amazon.com does not support affiliates to track their users’ purchases. They just provide reports that contain the transactions, but LittleSurprizes cannot differentiate the purchases from one user to another. </p>
<br />
<p>Hence, there are some manual steps involved in tracking the purchases done on Amazon.  To earn cash-back for Amazon purchases please follow the following steps:</p>

<div class="left step">Step-1 :</div>
<div class="right detail">Click the Amazon store logo on the LittleSurprizes website.</div>

<div class="clear"></div>

<div class="left step">Step-2 :</div>
<div class="right detail">Shop on Amazon store.</div>

<div class="clear"></div>

<div class="left step">Step-3 :</div>
<div class="right detail">Just before you submit your order, note down the ASIN numbers of the products in the order. ASIN number is Amazon’s unique product identification number. It is available in the product details sections of all products (See below for a sample).</div>

<div class="clear"></div>

<div class="left step">Step-4 :</div>
<div class="right detail">Once the order is placed, note down the order number and date of the order.</div>

<div class="clear"></div>

<div class="left step">Step-5 :</div>
<div class="right detail">Send an email to admin@littlesurprizes.com  with the following information:
          <br />
	Subject : Amazon Purchase<br />
	LittleSurprizes Account Number : JaneSmith@smith.com<br />
	Order Number : XXXXXXXXXX<br />
	Order Date : MM-DD-YYYY<br />
	ASIN(s) : B001LF4FR5, B231LF3FR8, D121LF3ET8</div>

<div class="clear"></div>
<p class="note">Your cash-back will be posted to your LittleSurprizes account in 2 business days. As with all cash-backs, this will be in a pending state for 60-90days, after which it will be ready to be paid.</p>
<img src="/images/amazon_product_detail.jpg" />
</div>
