
<% content_for :heading do %>
   <div class="left" style="width:99%;"><h1 class="listHeading">  Showing Category</h1></div>
<%end%>


<table class="show">
  <tr>
    <th>Name:</th>
    <td><%= @category.name %></td>
  </tr>
</table>


<div class="links">
   <%= link_to 'Edit', edit_admin_category_path(@category) %> |
   <%= link_to 'Back', admin_categories_path %>
</div>
