<% content_for :heading do %>
   Listing Users
<%end%>


<table class='listing'>
  <tr>
    <th> Name </th>
    <th> Email </th>
  </tr>

<% @users.each do |user| %>
  <tr>
     <td> <%= user.first_name  %> </td>
     <td> <%= user.email %> </td>
  </tr>
<% end %>
</table>

